h4 {
    font-size: 16px;
}

h5{
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 14px;
    @media only screen and (max-width: 700px) {
        font-size: 12px;
    }
}

.date-form{
    max-width: 450px;
    margin-left: auto;
}

.date-range{
    margin-bottom: 0;
    @media only screen and (max-width: 1000px) {
        margin-top: 5px;
    }
    @media only screen and (max-width: 700px) {
        margin-top: 3px;
    }
}

.customer{
    margin-bottom: 0;
    @media only screen and (max-width: 700px) {
        margin-top: 10px;
    }
}

.invoice-grid {
    display: grid;
    grid-template-columns: 12% 17% 13.25% 13.25% 10.5% 12% 21%;
}

.invoice-detail-companies-grid {
    display: grid;
    grid-template-columns: 40% 20% 40%;
}

.invoice-small-detail-grid {
    display: grid;
    grid-template-columns: 30% 70%;
}

.invoice-detail-grid {
    display: grid;
    grid-template-columns: 14% 21% 21% 13% 13% 18%;
}

.invoice-total-grid {
    display: grid;
    grid-template-columns: 65% 17% 18%;
}


.grid-line {
    margin-top: none;
    margin-bottom: none;
    margin-right: 1%;
    margin-left: 1%;
    @media only screen and (max-width: 570px) {
        margin-left: none;
        margin-right: none;
    }
}

.inner-border-left {
    height: 100%;
    width: 100%;
    border-style: solid hidden solid solid;
    border-color: black;
    background-color: rgb(255, 255, 255);
    border-width: 2px;
    text-align: center;
    overflow: hidden;
}

.inner-border-right {
    height: 100%;
    width: 100%;
    border-style: solid solid solid solid;
    border-color: black;
    background-color: rgb(255, 255, 255);
    border-width: 2px;
    text-align: center;
    overflow: hidden;
}

.inner-border-left-header {
    height: 100%;
    width: 100%;
    border-style: solid hidden solid solid;
    border-color: black;
    background-color: rgb(235, 206, 255);
    border-width: 2px;
    text-align: center;
}

.inner-border-right-header {
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color: black;
    background-color: rgb(235, 206, 255);
    border-width: 2px;
    text-align: center;
}

.inner-border-full-header {
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color: black;
    background-color: rgb(143, 145, 196);
    border-width: 4px;
    text-align: center;
}

.grid-header-text {
    line-height: 0;
    font-size: 14px;

    @media only screen and (max-width: 570px) {
        font-size: 12px;
    }
}
