.today-border{
    height: 120px;
    border-style: solid;
    border-color: black;
    background-color: rgb(111, 255, 123);

}

.space-top{
    margin-top: 22px;
}

.day-border{
    height: 120px;
    border-style: solid;
    border-color: black;
    background-color: rgb(207, 181, 255);
}

.day-label-border{
    height: 5.2vw;
    border-style: solid;
    border-color: black;
    background-color: rgb(207, 181, 255);

    @media only screen and (max-width: 768px) {
        height: 35px;
    }
  
    @media only screen and (min-width: 1000px) {
        height: 52px;
    }
}

.inner-border-left{
    height: 100%;
    width: 100%;
    border-style: solid hidden solid solid;
    border-color: black;
    background-color: rgb(255, 255, 255);
    border-width: 2px;
    text-align: center;
    overflow: hidden;
}

.inner-border-right{
    height: 100%;
    width: 100%;
    border-style: solid solid solid solid;
    border-color: black;
    background-color: rgb(255, 255, 255);
    border-width: 2px;
    text-align: center;
    overflow: hidden;
}

.inner-border-left-header{
    height: 100%;
    width: 100%;
    border-style: solid hidden solid solid;
    border-color: black;
    background-color: rgb(235, 206, 255);
    border-width: 2px;
    text-align: center;
}

.inner-border-right-header{
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color: black;
    background-color: rgb(235, 206, 255);
    border-width: 2px;
    text-align: center;
}

.label-text{
    margin: 15px 7px 0px 7px;
    font-weight: bold;
    color: rgb(53, 10, 124);
    font-size: 1.8vw;

    @media only screen and (max-width: 768px) {
        font-size: 10px;
    }

    @media only screen and (min-width: 1000px) {
        font-size: 18px;
    }
}

.grid-text{
    line-height: 0;
    font-size: 14px;
    white-space: nowrap;
  
    @media only screen and (max-width: 570px) {
        font-size: 11px;
    }

    @media only screen and (max-width: 500px) {
        font-size: 10.5px;
    }
}

.grid-header-text{
    line-height: 0;
    font-size: 16px;

    @media only screen and (max-width: 570px) {
        font-size: 14px;
    }
}

.left-top{
    margin: 0px 0px 3% 3%;

    @media only screen and (max-width: 768px) {
        margin: 0px 0px 3% 18.4%;
    }
}

.right-top{
    text-align: right;
    margin: 0px 3% 3% 0px;

    @media only screen and (max-width: 768px) {
        margin: 0px 18.4% 3% 0px;
    }
}

.grid50-colapse { 
    display: grid;
    grid-template-columns: 50% 50%;

    @media only screen and (max-width: 570px) {
        grid-template-columns: 100%
    }
}

.date{
    margin: 10% 10% 10% 10%;
}

.month-input{
    height: 42px;
}

.grid-one-employee { 
    display: grid;
    grid-template-columns: 20% 40% 40%;
}

.grid-all-employees { 
    display: grid;
    grid-template-columns: 27% 17% 28% 28%;
}

.grid-one-employee-button { 
    display: grid;
    grid-template-columns: 75% 24%;
}

.grid-one-employee-user-button { 
    display: grid;
    grid-template-columns: 90% 9.5%;
}

.grid-all-employees-button { 
    display: grid;
    grid-template-columns: 80% 19%;
}

.grid-inner-schedule { 
    display: grid;
    grid-template-columns: 17% 27% 28% 28%;
}

.grid-user-button { 
    display: grid;
    grid-template-columns: 90% 10%;
}

.grid7split { 
    display: grid;
    grid-template-columns: 14.289% 14.289% 14.289% 14.289% 14.289% 14.289% 14.289%;
}

.pull-right{
    text-align: right;
}

.count{
    font-size: 30px;

    @media only screen and (max-width: 700px) {
        font-size: 20px;
    }
}

div.yellow-back div.detail div.inner-border-left, 
div.yellow-back div.detail,
div.yellow-back div.detail a.inner-border-left{
    background-color: rgb(246, 236, 142);
}

div.blue-back div.detail div.inner-border-left,
div.blue-back div.detail,
div.blue-back div.detail a.inner-border-left{
    background-color: rgb(149, 248, 253);
}

div.green-back div.detail div.inner-border-left, 
div.green-back div.detail,
div.green-back div.detail a.inner-border-left{
    background-color: rgb(113, 194, 115);
}